@import url('../css/reset.css');

body {
	margin: 0;
	padding: 0;
    overflow: hidden;
	font-family: 'Hind', sans-serif;

}

*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

ul{
	margin: 0;
	padding: 0;
}

input:focus, select:focus{
	outline: 0;
}

.clearfix {
	display: inline-block;
}

.clearfix:after{
	content: " ";
	width: 100%;
	height: 0;
	clear: both;
	display: block;
}

.bg-main {
	background: url("../images/bg.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
}

.left-panel {
	width: 300px;
    background: rgba(56, 55, 55, 0.76);
    height: 560px;
    border-radius: 10px;
    margin-left: 1%;
    position: relative;
    top: 8%;
    display: inline-block;
}

.top-side {
	width: 100%;
    height: 90px;
    position: relative;
}

.menu {
    width: 20%;
    height: 100%;
    float: left;
    display: table;
    padding: 0 1em;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-box {
	width: 34px;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.menu-box span {
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	transition: all cubic-bezier(0.28, 0.4, 0.29, 0.88) 0.5s;
	-webkit-transition: all cubic-bezier(0.28, 0.4, 0.29, 0.88) 0.5s;
	-moz-transition: all cubic-bezier(0.28, 0.4, 0.29, 0.88) 0.5s;
}

.menu-box span:hover {
	color: #ffff83;
}

.logo {
    width: 100%;
    height: 100%;
    display: table;
    float: left;
}

.logo-in {
	width: 130px;
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    text-align: center;
}

.logo img {
	width: 120px;
}

.bottom-side {
    width: 100%;
    height: auto;
}

.left-panel h3 {
        color: #b1b1b1;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    margin-bottom: 30px;
}

.front-bar {
	width: 100%;
}

.front-bar_type {
    width: 50%;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #757575;
    border-left: 0;
    float: left;
}

.fb_box {
    padding: 32px 0;
    cursor: pointer;
    transition: all cubic-bezier(0.28, 0.4, 0.29, 0.88) 0.5s;
	-webkit-transition: all cubic-bezier(0.28, 0.4, 0.29, 0.88) 0.5s;
	-moz-transition: all cubic-bezier(0.28, 0.4, 0.29, 0.88) 0.5s;
}

.fb_text {
    line-height: 27px;
    color: white;
    opacity: 0.5;
    transition: all cubic-bezier(0.28, 0.4, 0.29, 0.88) 0.5s;
	-webkit-transition: all cubic-bezier(0.28, 0.4, 0.29, 0.88) 0.5s;
	-moz-transition: all cubic-bezier(0.28, 0.4, 0.29, 0.88) 0.5s;
}

.fb_box:hover {
	background-color: #6d6965;
}

.fb_box:hover .fb_text {
	opacity: 1;
}

.right-panel {
       width: 300px;
    margin-right: 1%;
    position: relative;
    top: 8%;
    display: inline-block;
    float: right;
}

.right-in {
    width: 100%;
    background: #fff;
    min-height: 140px;
    border-radius: 10px;
    margin-bottom: 2em;
}

.right-panel h3 {
    color: #868585;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    padding: 0.6em 0;
    border-bottom: 1px solid #e2e2e2;
}

.size-box {
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0;
    display: table;
}

.size-box:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}
.s_size, .swidth, .sheight {
    width: 33%;
    /* float: left; */
    text-align: center;
    height: 52px;
    padding: 0 1em;
    display: table-cell;
    vertical-align: middle;
}

.bottom-side span.choose{
	color: #b9b9b9;
    font-size: 13px;
    display: block;
    margin: 10px 10px;
}

.selectbox{
	    border: 0;
    border-bottom: 1px solid #c5c5c5;
    display: block;
    width: 94%;
    padding: 5px 20px;
    box-sizing: border-box;
    margin: 0 3%;
}

span.swSpan {
	border-bottom: 1px solid #d2d2d2;
    display: inline-block;
}

.category_image img {
	height: 150px;
}

.bx-pager-item {
    display: inline-block;
}

a.bx-pager-link {
    background: #fff;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    outline: 0;
}

.bx-controls-direction {
    display: none;
}

.bx-pager.bx-default-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 27px;
}

.bx-viewport{
	height: 380px;
}
.category_image {
    width: 94%;
    margin: 6% 3%;
    height: 270px;
    overflow-y: auto;
}
.cats {
    width: 100%;
}

.cats ul li {
    width: 42%;
    float: left;
    text-align: center;
    padding: 15px;
    border: 1px solid #ececec;
    margin: 10px;
    background: #fbfbfb;
    position: relative;
}

.category_image img {
    height: 86px;
}

.category_image ::-webkit-scrollbar {
    width: 12px;
}
 
.category_image ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.category_image ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/*//// 3 JAN //////*/

.category_image ul li a{
    
}
.category_image ul li a span{
    display: none;
        position: absolute;
    top: 70px;
    background: #000;
    color: #fff;
    padding: 4px;
    
}
.category_image ul li a:hover span{
    display: block;
}

span.swSpan input {
    width: 40px;
    border: 0;
    text-align: center;
}

.proPage .bottom-side img{width: 100%;}
.wm-zoom-hight {
  top: -12em !important;
}
.breadcrumb {
    padding: 0 1em;
}
.breadcrumb a {
    display: inline-block;
}

.breadcrumb a span{
    background: url(../images/walk.png) no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 19px;
    opacity: 0.7;
}
.breadcrumb a:first-child span{
background: url(../images/home.png) no-repeat;
background-size: 19px;
}
.breadcrumb a:hover span{
opacity: 1;
}
.zoomBox{
    padding: 4em 0;
}

/*/// Zoom css ////*/

.wm-zoom-container, .wm-zoom-box{
    position: relative;
}
img.wm-zoom-default-img{
    height: auto;
}
.wm-zoom-lens{
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}
.wm-zoom-hight{
    display: none;
    overflow: hidden;
    position: absolute;
}
.wm-zoom-hight img{
    left: 0;
    position: absolute;
    top: 0;
}

img.wm-zoom-hight-img{
    z-index: 2;
}

.wm-zoom-lens{
    background: #fff;
    -moz-opacity: 0.30;
    -khtml-opacity: 0.30;
    opacity: 0.30;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    filter:alpha(opacity=30);
}
/*//////////////*/

.feature-box {
    width: 100%;
    padding: 15px;
    font-size: 12px;
}
.wishBox span{
color: #f00;
margin-right: 7px;
}
.wishBox a{color: #333;}

.woodType, .wishBox, .strikeprice {
    margin-bottom: 30px;
}
.woodType button.wtBtn {
    background: #ddd;
    border: 2px solid #ccc;
    cursor: pointer;
    margin: 0 7px;
}
.strikeprice{
    font-size: 20px;
}

span.actualP {
    text-decoration: line-through;
    color: #c5c5c5;
    margin-right: 13px;
}
.cartPro {
    width: 100%;
    background: #442233;
    border: 1px solid #442233;
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    text-transform: capitalize;
    transition: all 0.1s ease-in;
}
.cartPro:hover { background: #fff; color: #442233; }




